@import url('https://fonts.googleapis.com/css?family=Lato:300,900|Monsieur+La+Doulaise&display=swap');
*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  color: #c8b8b0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.3;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  background-color: #c8b8b0;
  overflow-x: hidden;
}
h1 {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size:5em;
}
h2 {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size:4em;
  color:rgba(40,38,44,1);
}
p {
  font-size: 1.2em;
  margin-bottom: 30px;
}
nav.hc-nav {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(40,38,44,1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}
main.hc-main {
  margin-top: 60px;
}
article.hc-nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  max-width: 1200px;
}
article.hc-nav-container img{
  height: 90%;
}
ul.hc-nav-container-menu{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
ul.hc-nav-container-menu li{
  list-style: none;
  text-align: right;
  display: block;
}
ul.hc-nav-container-menu li a{
  text-decoration: none;
}
ul.hc-nav-container-menu li.hc-nav-container-menu-center{
  position: relative;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  top: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #28262c;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
ul.hc-nav-container-menu li.hc-nav-container-menu-center img{
  height: 90px;
  top: 40px;
  position: relative;
}
header.hc-header {
  width: 100%;
  height: 75vh;
  position: relative;
  background-image: url('img/header-hermanos-cebader.png');
  background-repeat: no-repeat;
  background-position: center top;
}
header.hc-header::before {
  content:"";
  width: 100%;
  height: 100%;
  position:absolute;
	z-index:-1; 
	background:rgba(85,86,97,1);
	background-image: -o-linear-gradient(left, rgba(40,38,44,1) 0%, rgba(51,51,51,1) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(40,38,44,1)), to(rgba(51,51,51,1)));
	background-image: linear-gradient(to right, rgba(40,38,44,1) 0%, rgba(51,51,51,1) 100%);
}
section.hc-header-container {
  width: 75%;
  height: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}
section.hc-header-container img.hc-header-container-reloj{
  position: absolute;
  top: 50px;
  right: 0;
  width: 60%;
  max-width: 375px;
}
article.hc-header-container-text {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}
article.hc-header-container-text h1 {
  margin: 20px 0px;
  text-align: left;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  color: white;
  white-space: nowrap;
  z-index: 2;
  text-shadow: 2px 4px 2px rgba(40,38,44,1);
}
article.hc-header-container-text p {
  text-align: left;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
article.hc-header-container-text p.hc-header-container-text-contact, article.hc-header-container-text a.hc-header-container-text-contact{
  font-size: 1em;
  margin: 10px 0 0 0;
  display: block;
  text-decoration: none;
  color: #c8b8b0;
  border: none;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 0;
}
article.hc-header-container-text a{
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  border: 1px solid white;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 10px 20px;
}
section.hc-servicios, section.hc-historia {
  width: 75%;
  height: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto;
}
section.hc-servicios h2 {
  width: 100%;
  margin: 30px 0 50px 0;
}
ul.hc-servicios-container-menu{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;

}
ul.hc-servicios-container-menu li{
  list-style: none;
  display: block;
  padding-top: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(185,152,72,1);
          box-shadow: 0px 0px 0px 0px rgba(185,152,72,1);
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin: 0 10px;
}
ul.hc-servicios-container-menu li p{
  color:rgba(40,38,44,1);
  font-size: 1em;
  text-align: center;
}

ul.hc-servicios-container-menu li.selected{
  -webkit-box-shadow: 0px 4px 0px -1px rgba(185,152,72,1);
          box-shadow: 0px 4px 0px -1px rgba(185,152,72,1);
}

ul.hc-servicios-container-menu li.selected p{
  font-weight: bold;
}
footer.hc-footer {
  width: 100%;
  background-color: rgba(40,38,44,1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
footer.hc-footer img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin: 10px;
}
footer.hc-footer p, footer.hc-footer a{
  margin-bottom: 10px;
  text-decoration: none;
}
footer.hc-footer h2{
  font-size: 3em;
  color: rgba(185,152,72,1);
}
article.hc-footer-contacto {
  border-left: 1px solid;
  padding-left: 20px;
}
section.hc-servicios-container-gallery{
  display: none;
}
section.hc-servicios-container-gallery.selected{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
}

article.hc-servicios-container-gallery-img{
  overflow: hidden;
  position: relative;
  width: 100%;
}
article.hc-servicios-container-gallery-img img{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
article.hc-servicios-container-gallery-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
section.hc-historia h2 {
  width: 100%;
  margin: 30px 0 50px 0;
}
article.hc-historia-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
article.hc-historia-container-img {
  overflow: hidden;
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}
article.hc-historia-container-img img{
  position: absolute;
  height: 100%;
}
article.hc-historia-container p:first-child{
  color: rgba(40,38,44,1);
  width: 47%;
  padding: 0 3% 3% 0;
}
article.hc-historia-container p:last-child{
  color: rgba(40,38,44,1);
  width: 47%;
  padding: 3% 0 0 3%;
}
.animation-start-app {
  -webkit-animation: start-app 1500ms forwards;
          animation: start-app 1500ms forwards;
}
@-webkit-keyframes start-app {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes start-app {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.animation-showright {
  position: absolute;
  -webkit-animation: showright 1500ms forwards ease-in-out;
          animation: showright 1500ms forwards;
          -webkit-transform:translate(0%);
              -ms-transform:translate(0%);
                  transform:translate(0%);
}
@-webkit-keyframes showright {
  0%   { opacity: 0; right:-25%; }
  50%   { opacity: 0; right:25%; }
  100% { opacity: 1; right:0; }
}
@keyframes showright {
  0%   { opacity: 0; right:-25%; }
  50%   { opacity: 0; right:-25%; }
  100% { opacity: 1; right:0; }
}
@media (max-width: 1200px) {
  section.hc-servicios, section.hc-historia {
    width: 90%;
  }
  .animation-showright {
    position: absolute;
    -webkit-animation: showright 1500ms forwards ease-in-out;
            animation: showright 1500ms forwards;
            -webkit-transform:translate(25%);
                -ms-transform:translate(25%);
                    transform:translate(25%);
  }
}

@media (max-width: 950px) {
  section.hc-header-container {
    width: 80%;
  }
  article.hc-nav-container {
    width: 80%;
  }
  ul.hc-nav-container-menu li.hc-nav-container-menu-center {
    width: 80px;
    height: 80px;
    margin: 0;
  }
  ul.hc-nav-container-menu li.hc-nav-container-menu-center img {
    height: 60px;
    top: 10px;
  }
  section.hc-servicios-container-gallery {
    -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  article.hc-servicios-container-gallery-img {
    width: 50%;
  }
  article.hc-historia-container-img {
    width: 100%;
    height: 33vh;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  article.hc-historia-container-img:nth-child(2) {
    -webkit-box-ordinal-group:2;
    -webkit-order:1;
        -ms-flex-order:1;
            order:1;
  }
  article.hc-historia-container-img img{
    position: absolute;
    height: auto;
    width: 150%;
  }
  article.hc-historia-container p:first-child{
    width: 100%;
    padding: 50px 0;
    -webkit-box-ordinal-group:3;
    -webkit-order:2;
        -ms-flex-order:2;
            order:2;

  }
  article.hc-historia-container p:last-child{
    width: 100%;
    padding: 50px 0;
    -webkit-box-ordinal-group:5;
    -webkit-order:4;
        -ms-flex-order:4;
            order:4;
  }
  .animation-showright {
    position: absolute;
    -webkit-animation: showright 1500ms forwards ease-in-out;
            animation: showright 1500ms forwards;
            -webkit-transform:translate(20%);
                -ms-transform:translate(20%);
                    transform:translate(20%);
  }
}
@media (max-width: 750px) {
  p {
    margin: 0;
  }
  header.hc-header {
    height: 100vh;
  }
  ul.hc-nav-container-menu li {
    list-style: none;
    text-align: center;
    display: block;
    margin:0px 10px;
}
h2 {
  font-size:2.8em;
  text-align: center;
}
  article.hc-header-container-text h1{
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    text-align: center;
    font-size: 2.8em;
    text-align: center;
    white-space: normal;
    width: 100%;
  }
  section.hc-header-container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    overflow: hidden;
  }
  article.hc-nav-container {
    width: 90%;
  }
  article.hc-header-container-text {
    width: 100%;
    position: relative;
    margin-top: 50px;
  }
  article.hc-header-container-text a{
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    margin-top: 30px;
  }
  article.hc-header-container-text p {
    text-align: center;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
  section.hc-header-container img.hc-header-container-reloj{
    position: relative;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    width: 100%;
    max-width: 225px;
  }
  ul.hc-servicios-container-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  ul.hc-servicios-container-menu li {
    padding: 20px 0;
  }
  article.hc-servicios-container-gallery-img {
    width: 100%;
  }
  footer.hc-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article.hc-footer-contacto {
    border-top: 1px solid;
    border-left: none;
    padding-top: 20px;
    padding-left: 0px;
  }
  footer.hc-footer p{
    font-size: 1em;
    text-align: center;
  }
  .animation-showright {
    position: absolute;
    -webkit-animation: showright 2s forwards ease-in-out;
            animation: showright 2s forwards;
            -webkit-transform:translate(0%);
                -ms-transform:translate(0%);
                    transform:translate(0%);
  }

}