@import url('https://fonts.googleapis.com/css?family=Lato:300,900|Monsieur+La+Doulaise&display=swap');
*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  color: #c8b8b0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.3;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #c8b8b0;
}
h1 {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size:5em;
}
p {
  font-size: 1.2em;
  margin-bottom: 30px;
}
nav.hc-nav {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(40,38,44,1);
  display: flex;
  justify-content: center;
  z-index: 3;
}
main.hc-main {
  margin-top: 60px;
}
article.hc-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  max-width: 1200px;
}
article.hc-nav-container img{
  height: 90%;
}
ul.hc-nav-container-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
ul.hc-nav-container-menu li{
  list-style: none;
  text-align: right;
  display: block;
}
ul.hc-nav-container-menu li.hc-nav-container-menu-center{
  position: relative;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  top: 5px;
  display: flex;
  background-color: #28262c;
  justify-content: center;
}
ul.hc-nav-container-menu li.hc-nav-container-menu-center img{
  height: 90px;
  top: 40px;
  position: relative;
}
header.hc-header {
  width: 100%;
  height: 75vh;
  position: relative;
  background-image: url('img/header-hermanos-cebader.png');
  background-repeat: no-repeat;
  background-position: center top;
}
header.hc-header::before {
  content:"";
  width: 100%;
  height: 100%;
  position:absolute;
	z-index:-1; 
	background:rgba(85,86,97,1);
	background-image: linear-gradient(to right, rgba(40,38,44,1) 0%, rgba(51,51,51,1) 100%);
}
section.hc-header-container {
  width: 75%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0 auto;
}
section.hc-header-container img.hc-header-container-reloj{
  position: absolute;
  top: 50px;
  right: 0;
  width: 60%;
  max-width: 375px;
}
article.hc-header-container-text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
article.hc-header-container-text h1 {
  margin: 20px 0px;
  text-align: left;
  align-self: flex-start;
  color: white;
  white-space: nowrap;
  z-index: 2;
  text-shadow: 2px 4px 2px rgba(40,38,44,1);
}
article.hc-header-container-text p {
  text-align: left;
  align-self: flex-start;
}
article.hc-header-container-text a{
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  border: 1px solid white;
  align-self: flex-start;
  padding: 10px 20px;
}
section.hc-servicios {
  width: 75%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px auto;
}
section.hc-servicios h2 {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size:4em;
  color:rgba(40,38,44,1);
  width: 100%;
  margin: 30px 0 50px 0;
}
ul.hc-servicios-container-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}
ul.hc-servicios-container-menu li{
  list-style: none;
  text-align: center;
  display: block;
  font-weight: bold;
  color:rgba(40,38,44,1);
  padding: 30px 0;
  cursor: pointer;
}
ul.hc-servicios-container-menu li:hover{
  font-style: italic;
}
ul.hc-servicios-container-menu li.selected{
  border-bottom: 3px solid rgb(185, 152, 72);
}
footer.hc-footer {
  height: 100px;
  width: 100%;
  background-color: rgba(40,38,44,1);
}

.animation-start-app {
  -webkit-animation: start-app 2s forwards;
          animation: start-app 2s forwards;
}
@-webkit-keyframes start-app {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes start-app {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.animation-showright {
  position: absolute;
  -webkit-animation: showright 2s forwards ease-in-out;
          animation: showright 2s forwards;
          -webkit-transform:translate(0%);
              -ms-transform:translate(0%);
                  transform:translate(0%);
}
@-webkit-keyframes showright {
  0%   { opacity: 0; right:-25%; }
  50%   { opacity: 0; right:25%; }
  100% { opacity: 1; right:0; }
}
@keyframes showright {
  0%   { opacity: 0; right:-25%; }
  50%   { opacity: 0; right:-25%; }
  100% { opacity: 1; right:0; }
}
@media (max-width: 1200px) {
  .animation-showright {
    position: absolute;
    -webkit-animation: showright 2s forwards ease-in-out;
            animation: showright 2s forwards;
            -webkit-transform:translate(25%);
                -ms-transform:translate(25%);
                    transform:translate(25%);
  }
}

@media (max-width: 950px) {
  section.hc-header-container {
    width: 80%;
  }
  article.hc-nav-container {
    width: 80%;
  }
  .animation-showright {
    position: absolute;
    -webkit-animation: showright 2s forwards ease-in-out;
            animation: showright 2s forwards;
            -webkit-transform:translate(20%);
                -ms-transform:translate(20%);
                    transform:translate(20%);
  }
}
@media (max-width: 750px) {
  header.hc-header {
    height: 100vh;
  }
  ul.hc-nav-container-menu li {
    list-style: none;
    text-align: center;
    display: block;
    margin:0px 10px;
}
  article.hc-header-container-text h1{
    align-self: center;
    text-align: center;
    font-size: 2.8em;
    white-space: normal;
    width: 100%;
  }
  section.hc-header-container {
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    overflow: hidden;
  }
  article.hc-nav-container {
    width: 90%;
  }
  article.hc-header-container-text {
    width: 100%;
    position: relative;
    margin-top: 50px;
  }
  article.hc-header-container-text a{
    align-self: center;

  }
  article.hc-header-container-text p {
    text-align: center;
    align-self: center;
  }
  section.hc-header-container img.hc-header-container-reloj{
    position: relative;
    align-self: center;
    width: 100%;
    max-width: 225px;
  }
  .animation-showright {
    position: absolute;
    -webkit-animation: showright 2s forwards ease-in-out;
            animation: showright 2s forwards;
            -webkit-transform:translate(0%);
                -ms-transform:translate(0%);
                    transform:translate(0%);
  }

}

