@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Lato:wght@300&display=swap');
*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  color: #c8b8b0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.3;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #c8b8b0;
}
h1 {
  font-family: 'IM Fell English', serif;
  font-size:4em;
}
p {
  font-size: 1.2em;
  margin-bottom: 30px;
}
nav.hc-nav {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(40,38,44,1);
  display: flex;
  justify-content: center;
  z-index: 3;
}
main.hc-main {
  margin-top: 60px;
}
article.hc-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  max-width: 1200px;
}
article.hc-nav-container img{
  height: 90%;
}
ul.hc-nav-container-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
ul.hc-nav-container-menu li{
  list-style: none;
  text-align: center;
  display: block;
  width: 100%;
  
}
header.hc-header {
  width: 100%;
  height: 75vh;
  position: relative;
  background-image: url('img/header-hermanos-cebader.png');
  background-repeat: no-repeat;
  background-position: center top;
}
header.hc-header::before {
  content:"";
  width: 100%;
  height: 100%;
  position:absolute;
	z-index:-1; 
	background:rgba(85,86,97,1);
	background-image: linear-gradient(to right, rgba(40,38,44,1) 0%, rgba(51,51,51,1) 100%);
}
section.hc-header-container {
  width: 60%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0 auto;
}
section.hc-header-container img.hc-header-container-reloj{
  position: absolute;
  top: 50px;
  right: 0;
  width: 50%;
  max-width: 375px;
}
article.hc-header-container-text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
article.hc-header-container-text h1 {
  margin: 20px 0px;
  text-align: left;
  align-self: flex-start;
  color: white;
  white-space: nowrap;
  z-index: 2;
  text-shadow: 2px 4px 2px rgba(40,38,44,1);
}
article.hc-header-container-text p {
  text-align: left;
  align-self: flex-start;

}
article.hc-header-container-text a{
  display: block;
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
}
section.hc-servicios {
  height: 50vh;
}

footer.hc-footer {
  height: 100px;
  width: 100%;
  background-color: rgba(40,38,44,1);
}

@media (max-width: 950px) {
  section.hc-header-container {
    width: 80%;
  }
}

.animation-start-app {
  -webkit-animation: start-app 2s forwards;
          animation: start-app 2s forwards;
}
@-webkit-keyframes start-app {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes start-app {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}